<h1><%=@user.trail_name%>'s Profile</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="progress-display">
            <div class="container">
            <% @user.user_challenges.each do |user_challenge|%>
                <div class="row">
                    <div class="col-sm-3">
                        <%=render partial: 'shared/distanceentry', locals:{user_challenge: user_challenge} %>
                    </div>
                    <div class="col-sm-6">
                        <%= render partial: 'shared/progressbar', locals:{user_challenge: user_challenge}  %>
                    </div>
                    <div class="col-sm-3">
                        <%= render partial: 'shared/timeorstar', locals:{user_challenge: user_challenge}  %>
                    </div>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>
