<h1>Why this app was created</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3>
          This website was made to learn the basics of building a ruby app and
          introduce people to Edward Payson Weston and his achievements of
          human endurance and speed.<br><br> He was a showman and tireless promoter
          for himself and physical activity. He continued walking until he was
          struck by a car and killed in New York city... While walking.
      </h3>
   </div >
    </div>
