

<div class="row">

  <h1>Welcome friends to the home page of the <br>"The Edward Payson Weston Challenge!" </h1>
  <h4>A site dedicated to Americas first great professional athlete.</h4>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h2>  Here you can,</h2>
    <h3>
      <ul>
        <li>Find about <strong>Edward Payson Weston</strong> and his feats of endurance and speed.</li>
        <li>Sign up to to compeetet against the man,<strong> Edward Payson Weston</strong> himself.</li>
         <li>Track you and your friends progress as you all complete your own pedestrian adventure.</li>
      </ul>
    </h3>
      <h2>

          <%=render partial: 'shared/signinmoveon' %>


      </h2>
        <div class='moustache'>
          <%=image_tag('EPW-moustache.jpg')%>

        </div>
   </div >
    </div>
