<h2> Create a challenge</h2>
<div class="jumbotron jumbotron-fluid">
    <div class="row" >
        <div class="col-sm-4">
            <%=render 'shared/createchallenge', locals:{ challenge:@challenge,} %>
        </div>
    </div>
</div>
