// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

a{
  color: #82481A;

}
a:hover {
  color: #A82310;
}
a:active {
    color: purple;
}
body{
  background-color: #D8C7B5;


}

.container{
font-family: Old Standard TT;

}

.nav-item{
  font-size: large;
  color:black;
 }

.nav-head-text{
font-weight: bold;
font-size: x-large;
  color:black;

}


.jumbotron{
  background-color: #BE946C;
  border: 5px solid  #A82310;
  display: flex;
  justify-content: center;
   // overflow: auto;
}
