// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

a{
  color: #82481A;

}
a:hover {
  color: #A82310;
}
.body{
  background-color: #D8C7B5;


}

.container{
font-family: Old Standard TT;

}

.nav-item{
  font-size: large;
  color:black;
 }

.nav-head-text{
font-weight: bold;
font-size: x-large;
  color:black;

}


.jumbotron{
  background-color: rgb(216,199,181);
  border: 5px solid red;
}
