// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.container{
font-family: Old Standard TT;
}
.nav-item{
  font-size: large;
  color:black;
 }

.nav-head-text{
font-weight: bold;
font-size: x-large;
  color:black;

}

.background{
  background-color: #eee


}
